@import libs
@import vars
@import settings
+reset()
.main-head
  height: 100vh

.player
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: -1

.logo
  position: fixed
  left: 50%
  top: 26px
  margin-left: -35px

.head-title
  +row-flex()
  justify-content: space-between
  align-items: center
  height: 100%
  margin: 0 2%
  font-family: "MuseoSansRounded", sans-serif
  font-size: 50px
  font-weight: 900
  line-height: 1.2
  letter-spacing: 5px
  color: $white
  text-transform: uppercase
  &_right
    text-align: right

.head__icons-arrow
  position: relative
  +row-flex()
  justify-content: center
  align-items: center
  width: 144px
  height: 144px
  border: 1px dashed rgba($white, .2)
  border-radius: 50%

  .icons-arrow__border
    +row-flex()
    box-sizing: border-box
    justify-content: space-around
    align-items: center
    padding: 10px
    width: 60px
    height: 60px
    border: 2px solid $white
    border-radius: 50%

.project-list
  position: absolute
  top: 0
  min-width: 320px
  height: 100%
  background-color: $black
  &_left
    left: 0

.aside-list
  height: 100vh
  list-style-type: none
  &__item
    position: relative
    display: block
    margin-left: 0
    padding-left: 0
    display: block
    height: 15%
    &:hover
      .aside-list__img
        transform: translateX(0)
      .aside-list__link
        transform: translateX(0)
  &__img
    height: 100%
    +mt(.5s)
    transform: translateX(-85%)
  &__link
    position: absolute
    text-decoration: none
    border: 2px solid $white
    +row-flex()
    justify-content: center
    transform: translateX(-300px)
    align-items: center
    border-radius: 50%
    width: 38px
    height: 38px
    top: 50%
    left: 50%
    margin: -19px 0 0 -19px
    +mt(.45s)









